<!DOCTYPE html>
<!--
% $m->out('--'.'>');
% $m->comp('/Elements/Header', Title=>loc("RT at a glance"), Refresh => $session{'home_refresh_interval'}||RT->Config->Get('HomePageRefreshInterval', $session{'CurrentUser'}), SkipDoctype => 1 );
% if (0) {
%# -->
<html><head>
<title>Almost there!</title></head>
<body>

<br /><br />
<h1>You're almost there!</h1>
You haven't yet configured your webserver to run RT.

You appear to have installed RT's web interface correctly, but haven't yet configured your web
server to "run" the RT server which powers the web interface.

The next step is to edit your webserver's configuration file to instruct it to use
RT's <strong>mod_perl</strong> or <strong>FastCGI</strong> handler.

If you need commercial support, please contact us at sales@bestpractical.com
or visit <a href="http://bestpractical.com/rt/rt-broken-install.html">the
Best Practical web site</a>.


<!--
% }

%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2017 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Tabs &>
<& /Elements/ListActions, actions => \@results &>    
<& /Elements/MyRT &>
<%init>

if ( RT::Interface::Web->MobileClient()) {
    RT::Interface::Web::Redirect(RT->Config->Get('WebURL') ."m/");
    $m->abort();
}

my @results;
my $skip_create = 0;

$m->callback( ARGSRef => \%ARGS, results => \@results, CallbackName => 'Initial', 
              skip_create => \$skip_create );

unless ( $skip_create ) {
    push @results, ProcessQuickCreate( Path => '/', ARGSRef => \%ARGS );
}

if ( $ARGS{'q'} ) {
    RT::Interface::Web::Redirect(RT->Config->Get('WebURL')."Search/Simple.html?q=".$m->interp->apply_escapes($ARGS{q}, 'u'));
}

</%init>

%# --></body></html>
